<div class="px-4 col-6">
  <form #postForm="ngForm" ngForm class="form-group" (ngSubmit)="savePost(postForm)">
    <div class="form-group">
      <label for="userID">User ID</label>
      <input type="text" ngModel #userID="ngModel" class="form-control" id="userID" name="userID"
        placeholder="Enter User Id" required minlength="4">
      <!-- <small id="userIDHelp" class="text-muted form-text">We'll never share your postTitle with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="postID">Post ID</label>
      <input type="text" ngModel #postID="ngModel" class="form-control" name="postID" id="postID"
        placeholder="Enter Post Id" required minlength="4">
      <!-- <small id="postTitleHelp" class="text-muted form-text">We'll never share your postTitle with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="postTitle">Post Title</label>
      <input type="text" ngModel #postTitle="ngModel" class="form-control" id="postTitle" name="postTitle"
        placeholder="Enter Post Title" required>
      <!-- <small id="postTitleHelp" class="text-muted form-text">We'll never share your postTitle with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="postBody">Post Body</label>
      <input type="text" ngModel #postBody="ngModel" class="form-control" id="postBody" name="postBody"
        placeholder="postBody" required>
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success">save</button>
      <button type="submit" class="btn btn-primary">update</button>
      <button type="button" class="text-white btn btn-warning" (click)="resetForm()">clear</button>
    </div>
  </form>
</div>
<div class="px-4 py-4 col-6">
  <table class="table table-bordered table-hover">
    <thead class="bg-danger text-white">
      <tr>
        <td>User ID</td>
        <td>Post ID</td>
        <td>Post Title</td>
        <td>Post Body</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of  posts" (click)="selectedPost(post)">
        <td>{{post.userId}}</td>
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
      </tr>
    </tbody>
  </table>
</div>
